@import "tailwindcss";

input[type="checkbox"] {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: #cfcfcf;
  border-radius: 0.25rem;
  cursor: pointer;
  appearance: none;
}

input[type="checkbox"]:checked {
  background-color: #27014f;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 6.6px;
  width: 7.5px;
  height: 13px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked:before {
  border-color: #fff;
  animation: checkAnim 0.2s ease;
}
@keyframes CheckAnim {
  from {
    transform: rotate(45deg) scale(0);
  }
}

/* Phone Input css */
.PhoneInput {
  width: 100%;
}

.PhoneInputInput {
  padding: 10px 12px;
  border: 1px solid #a4a4a4;
  outline: none;
  font-size: 13px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* .PhoneInputInput:focus {

} */

.PhoneInputCountry {
  padding: 0 10px 0 10px;
  border-top: 1px solid #a4a4a4;
  border-bottom: 1px solid #a4a4a4;
  border-left: 1px solid #a4a4a4;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.PhoneInputCountryIcon--border {
  border-radius: 100%;
  height: 2px;
  /* padding: 1px; */
  border: none !important;
  width: 40px;
  background-color: #fff;
}

.PhoneInputCountryIconImg {
  border-radius: 100%;
  object-fit: cover;
  height: 100%;
  width: 100;
  border: none !important;
}
.PhoneInputCountryIcon {
  margin-right: 2px;
  height: 25px !important;
  width: 25px !important;
}

/* .PhoneInputCountryIcon--border{
  border: none impr !important;
} */

.PhoneInputCountrySelectArrow {
  border-color: black !important;
  font-weight: 800 !important;
  /* height: 5px !important;
  width: 2px !important; */
}

/* Flag Select */
.custom-flag-select-wrapper .ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 0px 0px;
  padding-right: 10px;
}
.custom-flag-select-wrapper .ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding: 1px;
}
.custom-flag-select-wrapper svg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  background-color: #fff;
}

.custom-flag-select-wrapper svg > * {
  width: 100%;
  height: 100%;
  clip-path: circle(50%);
}


.custom-flag-select-wrapper .ReactFlagsSelect-module_selectFlag__2q5gC {
  font-size: 5rem;
  border: 100% !important;
}

/* Hide scroll bar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


@media (max-width: 768px) {
  .PhoneInputInput {
    padding: 16px 10px;
    font-size: 16px;
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
  }
}
