:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* --PhoneInputCountryFlag-height: 2rem;      Custom height */
  /* --PhoneInputCountryFlag-aspectRatio: ;  Custom aspect ratio */
  /* --PhoneInputCountryFlag-height: 20rem; */

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
